@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans&display=swap');

/* Variables */
:root {
  --ft-family-text: "Open Sans", sans-serif;
  --ft-family-heading: 'Caveat Brush', cursive;
  --color-candy-orange: hsl(19.06, 100%, 50%);
  --color-sunkist-orange: hsl(30.35, 100%, 50%);
  --color-light-orange: hsl(40, 100%, 50%);
  --color-medium-blue-green: hsl(191.03, 100%, 17.06%);
  --color-dark-blue-green: hsl(191.3, 100%, 13.53%);
  --color-light-black: hsl(0, 0%, 13.33%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --shadow: rgba(0, 0, 0, .4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 /* outline: 1px solid black;*/
}

html {
  font-size: 62.5%;
  font-family: var(--ft-family-text);
}

body {
  font-family: inherit;
  background-image: url('../grey-370125_1280.png');

  
}

p {
  font-family: var(--ft-family-text);
  font-size: 24px;
}


.app-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

/* Header */
.header-container {
  width: 100%;
  height: 100px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-blue-green);
}

.app-title {
  font-family: var(--ft-family-heading);
  font-size: 52px;
  padding: 20px;
}


/* Timer */ 
.timer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 50%;
  margin-top: 60px;
  border: 1px solid black;
  background-color: var(--color-medium-blue-green);
  box-shadow: 5px 10px 8px var(--color-light-black);
  border-radius: 25px;
}

.timer-btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

#timer-label {
  font-family: var(--ft-family-text);
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--color-white);
}

#time-left {
  font-family: var(--ft-family-text);
  font-size: 80px;
  margin-top: -40px;
  color: var(--color-white);
}

.start-stop-btn {
  background-color: var(--color-sunkist-orange);
  border-radius: 10px;
  font-size: 12px;
  width: 150px;
  padding: 10px;
  margin-top: -20px;
}

.start-stop-title {
  font-size: 20px;
  font-weight: 700;
}

.reset-btn {
  background-color: var(--color-sunkist-orange);
  border-radius: 10px;
  font-size: 12px;
  width: 150px;
  padding: 10px;
  margin-top: -20px;
}

.reset-title {
  font-size: 20px;
  font-weight: 700;
}
/* Settings Container */

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: var(--color-medium-blue-green);
  box-shadow: 5px 10px 8px var(--color-light-black);
  margin-top: 70px;
  height: 200px;
  width: 80%;
}

.session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 300px;
  
}
#session-label {
  font-family: var(--ft-family-text);
  font-size: 34px;
  color: var(--color-white);
}

 #session-length {
  font-family: var(--ft-family-text);
  font-size: 40px;
  margin: 20px 0;
  color: var(--color-white);
}

.session-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  background-color: var(--color-sunkist-orange);
  border-radius: 25px;
}

.break-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 300px;
}

#break-label {
  font-family: var(--ft-family-text);
  font-size: 34px;
  color: var(--color-white);
}

#break-length {
  font-family: var(--ft-family-text);
  font-size: 40px;
  margin: 20px 0;
  color: white;
}

.break-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
  background-color: var(--color-sunkist-orange);
  border-radius: 25px;
}

.break-ctrl-btn,
.session-ctrl-btn {
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: white;
  
}

/* Controllers */


/* Sound */

.sound-container {
  margin-top: 50px;
}

/* Footer */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0; 
  width: 100%;
  margin-top: 50px;
  height: 100px;
  font-size: var(--ft-family-text);
  font-size: 16px;
  text-align: center;
  background-color: var(--color-dark-blue-green);
  color: lightgray;
}



