@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans&display=swap');

/* Variables */
:root {
  --ft-family-text: "Open Sans", sans-serif;
  --ft-family-heading: 'Caveat Brush', cursive;
  --color-candy-orange: hsl(19.06, 100%, 50%);
  --color-sunkist-orange: hsl(30.35, 100%, 50%);
  --color-light-orange: hsl(40, 100%, 50%);
  --color-medium-blue-green: hsl(191.03, 100%, 17.06%);
  --color-dark-blue-green: hsl(191.3, 100%, 13.53%);
  --color-light-black: hsl(0, 0%, 13.33%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --shadow: rgba(0, 0, 0, .4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid black;
}

html {
  font-size: 62.5%;
  font-family: var(--ft-family-text);
}

body {
  font-family: inherit;
  background-color: lightgrey;
}


.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

/* Header */
.header-container {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-family: var(--ft-family-heading);
  font-size: 46px;
  padding: 20px;
}



/* Timer */ 
.timer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self;
  height: 300px;
  width: 50%;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 25px;
}

.timer-section {
  width: 100%;
  height: 200px;
}

/* Settings Container */

.settings {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Controller Container */

.settings-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-top: 60px;
  height: 300px;
  width: 80%;
}

.timer-controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.prod-container {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.control-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}



/* Sound */

.sound-container {
  margin-top: 50px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  margin-top: 50px;
  height: 50px;
  text-align: center;
}

h3 {
  font-size: var(--ft-family-text);
  font-size: 16px;
}
