@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans&display=swap');

/* Variables */
:root {
  --ft-family-text: "Open Sans", sans-serif;
  --ft-family-heading: 'Caveat Brush', cursive;
  --color-candy-orange: hsl(19.06, 100%, 50%);
  --color-sunkist-orange: hsl(30.35, 100%, 50%);
  --color-light-orange: hsl(40, 100%, 50%);
  --color-medium-blue-green: hsl(191.03, 100%, 17.06%);
  --color-dark-blue-green: hsl(191.3, 100%, 13.53%);
  --color-light-black: hsl(0, 0%, 13.33%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --shadow: rgba(0, 0, 0, .4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid black;
}

html {
  font-size: 62.5%;
  font-family: var(--ft-family-text);
}

body {
  font-family: inherit;
  background-color: lightgrey;
}


.app-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

/* Header */
.header-container {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-family: var(--ft-family-heading);
  font-size: 46px;
  padding: 20px;
}



/* Timer */ 
.timer-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 50%;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 25px;
}

.time-container {
  display: flex;
  flex-direction: column;
}

#timer-label {
  font-family: var(--ft-family-heading);
  font-size: 50px;
  margin-bottom: 20px;
}

#time-left {
  font-family: var(--ft-family-text);
  font-size: 80px;
}
/* Settings Container */

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin-top: 60px;
  height: 200px;
  width: 80%;
}

.session-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 300px;
}
#session-label {
  font-family: var(--ft-family-heading);
  font-size: 40px;
}

 #session-length {
  font-family: var(--ft-family-heading);
  font-size: 30px;
  margin: 20px 0;
}

.session-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.break-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 300px;
}

#break-label {
  font-family: var(--ft-family-heading);
  font-size: 40px;
}

#break-length {
  font-family: var(--ft-family-text);
  font-size: 36px;
  margin: 20px 0;
}

.break-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.break-ctrl-btn,
.session-ctrl-btn {
  font-size: 30px;
  color: var(--color-sunkist-orange);
  
}

/* Controllers */


/* Sound */

.sound-container {
  margin-top: 50px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0; 
  width: 100%;
  margin-top: 50px;
  height: 50px;
  text-align: center;
}

h3 {
  font-size: var(--ft-family-text);
  font-size: 16px;
}
